@use '@/app/styles/mixins.scss' as *;

.filter_item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--space-s);
  padding: var(--space-s) var(--space-m);
  color: var(--color-light-25);
  background-color: var(--color-accent-10);
  @include transition(background-color);
  text-wrap: nowrap;
  
  &:hover {
    cursor: pointer;
    background-color: var(--color-accent-20);
    @include transition(background-color);
  }
  
  &:active {
    background-color: var(--color-accent-30);
    @include transition(background-color);
  }
}

.filter_block:not(:last-child) {
  margin-block-end: var(--space-s);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}