.h1 {
  font-size: var(--font-size-xxl);
}

.h2 {
  font-size: var(--font-size-xl);
}

.h3 {
  font-size: var(--font-size-l);
}

.s {
   font-size: var(--font-size-s);
}

.m {
  font-size: var(--font-size-m);
}

.regular {
  font-weight: var(--font-weight-regular);
}

.semibold {
  font-weight: var(--font-weight-semibold);
}