.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 30dvh;
  text-align: center;
  margin-inline: auto;
  max-width: 50%;
  gap: var(--space-xxl);
}

.title {
  color: var(--color-accent-40);
  font-weight: var(--font-weight-regular);
  font-size: 64px;
  line-height: 110%;
}

.message {
  font-size: var(--space-l);
  line-height: 110%;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: var(--space-m);
}
