.facts {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--space-xl);
  justify-content: space-between;
}

.facts_group {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}

.facts_group__second {
  width: 380px;
}