@use '@/app/styles/mixins.scss' as *;

.stars_group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-m);
}

.stars_list {
  display: flex;
  flex-direction: row;
  &:hover,
  &:hover * {
    cursor: pointer;
  }
}

.disabled {
  @include visually-hidden;
  pointer-events: none;
}