.game_fact {
  display: flex;
  flex-direction: row;
  gap: var(--space-l);
}

.game_fact__title {
  min-width: 150px;
}

.game_fact__values {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}