.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 25dvh;
  text-align: center;
  margin-inline: auto;
  max-width: 50%;
  gap: var(--space-xxl);
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.heading_error,
.heading_text {
  font-size: 48px;
  line-height: 110%;
  font-weight: var(--font-weight-regular);
}

.heading_404 {
  color: var(--color-accent-40);
  font-size: 150px;
  line-height: 110%;
  font-weight: 500;
}