.header {
  margin-inline: auto;
  margin-block: var(--space-xl) var(--space-xl);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-l);
}

.filters {
  display: flex;
  align-items: center;
  gap: var(--space-l);
}