.game_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
}

.chipses {
  display: flex;
  flex-direction: row;
  gap: var(--space-m);
}