

.loader {
  width: var(--width);
  aspect-ratio: 1;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid var(--color-accent-40);
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: var(--width);
  aspect-ratio: 1;
  border-radius: 50%;
  border-bottom: 4px solid var(--color-accent-20);
  border-left: 4px solid transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 