.game_content {
  display: flex;
  flex-direction: row;
  gap: var(--space-xl);
}

.game_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game_description {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}