.game_content {
  display: flex;
  flex-direction: row;
  gap: var(--space-xl);
}

.game_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game_description {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}

.game_interactives {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}