@use '@/app/styles/mixins.scss' as *;

.star {
  
  padding: 3px;
  &:hover .star_icon {
    color: var(--color-accent-40);
    @include transition(color);
  }

  &:has(~ .star:hover) .star_icon {
    color: var(--color-accent-40);
    @include transition(color);
  }
  
  &:active .star_icon {
    color: var(--color-accent-20);
    @include transition(color);
  }

}

.star_button {
  &:hover {
    cursor: pointer;
  }
}

.star_icon {
  display: block;
  width: 32px;
  height: 32px;
  color: var(--color-light-25);
  @include transition(color);
}